<html lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="${appName}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>


<body>
    <div th:insert="/header"> </div>

    <div class="container mt-5">
        <h1>Chef list </h1>

        <div th:if="${chefs.empty}">
            <p colspan="2"> No Receipts Available </p>
        </div>

        <a href="" class="btn btn-outline-success" type="submit" sec:authorize="hasRole('ADMIN')">Add chef</a>

        <div class="container-fluid">
			<form class="d-flex" method="get" th:action="@{/chefs}">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchInput" th:value="${searchInput}">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>

        <ul class="list-group">
            <li class="list-group-item" th:each="chef: ${chefs}">
                <div class="row mt-4">

                    <div class="col-md-4">
                        <img th:src="${chef.image}" class="img-fluid rounded-circle" alt="Imagen del Cocinero">
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div>
                            <h3>Chef</h3>
                            <p th:text="'Name: ' + ${chef.name}"></p>
                            <p th:text="'Last name: ' + ${chef.lastName}"></p>
                            <p th:text="'Birthdate: ' + ${chef.birthDate}"></p>
                            <a class="btn btn-primary" th:href="@{/chef(id=${chef.id})}">Ver Chef</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    </div>

</body>