<html lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="${appName}"></title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>


<body>
    <div th:insert="/header"> </div>

    <div class="container mt-5">
        
        <div class="row mt-4">
            <div class="col-md-4">
                <img th:src="${chef.image}" class="img-fluid rounded-circle" alt="Imagen del Cocinero">
            </div>
            <div class="col-md-8 d-flex align-items-center">
                <div>
                    <h3>Chef</h3>
                    <p th:text="'Name: ' + ${chef.name}"></p>
                    <p th:text="'LastName: ' + ${chef.lastName}"></p>
                    <p th:text="'BirthDate: ' + ${chef.birthDate}"></p>
                    <p><a href="" th:if="${isAdmin}" >Edit Chef</a></p>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <h4>Receipt List</h4>
                <ul class="list-group">
                    <li class="list-group-item" th:each="recipe : ${chef.receipts}">
                        <h5 th:text="${recipe.name}"></h5>
                        <p th:text="${recipe.description}"></p>
                        <a th:href="@{/receipt(id=${recipe.id})}" class="btn btn-primary">Ver receta</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>