<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title th:text="${appName}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>

<body>
	<div th:insert="/header"> </div>
	<div class="container mt-5">

		<h1>Listado de recetas</h1>

        <a href="" class="btn btn-outline-success" type="submit" sec:authorize="hasAnyRole('ADMIN','CHEF')">Add Receipt</a>

		<div class="container-fluid">
			<form class="d-flex" method="get" th:action="@{/home}">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchInput" th:value="${searchInput}">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>

		<div th:if="${receipts.empty}">
			<p colspan="2"> No Receipts Available </p>
		</div>
		<ul class="list-group">
			<li class="list-group-item" th:each="receipt: ${receipts}">
				<div class="row mt-4">
					<div class="col-md-4">
						<img th:src="${receipt.images[0].url}" class="card-img-top img-fluid" alt="Imagen de la receta">
					</div>
					<div class="col-md-8 d-flex align-items-center">
						<div class="card-body">
							<h5 class="card-title" th:text="${receipt.name}"></h5>
							<p><a th:href="@{/chef(id=${receipt.chef.username})}" class="card-text" th:text="| ${receipt.chef.name} ${receipt.chef.lastName} |"></a></p>
							<a class="btn btn-primary" th:href="@{/receipt(id=${receipt.id})}">Ver receta</a>
						</div>
					</div>
				</div>
			</li>
	</div>
	</div>
</body>

</html>