<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SimFood</title>
	<link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/bootstrap.min.js}"></script>
    
</head>
<body>
    <div class="container">
        <h1>¡Hola desde Spring Boot con Bootstrap!</h1>
    </div>


	<table>
		<thead>
			<tr>
				<th> Title </th>
				<th> Author </th>
			</tr>
		</thead>
		<tbody>
		<tr th:if="${receipts.empty}">
				<td colspan="2"> No Receipts Available </td>
			</tr>
			<tr th:each="Receipts : ${receipts}">
				<td><span th:text="${receipts.name}"> Name </span></td>
				<td><span th:text="${receipts.chef.name}"> Author </span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>