<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title th:text="${appName}"></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

</head>

<body>
	<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/" th:text="${appName}"></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link" th:classappend="${tab}=='home' ? 'active': ''" aria-current="page"
								href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:classappend="${tab}=='chef' ? 'active': ''" href="/chefs">Chefs</a>
						</li>
						<li class="nav-item" sec:authorize="!isAuthenticated()"
							th:classappend="${tab}=='login' ? 'active': ''">
							<button type="button" data-bs-toggle="modal" class="nav-link"
								data-bs-target="#loginModal">Login</button>
						</li>
						<li class="nav-item" sec:authorize="isAuthenticated()">
							<form th:action="@{/logout}" method="post">
								<button class="nav-link" type="submit">Logout</button>
							</form>
						</li>
					</ul>
				</div>
			</div>

			<!-- Modal para Login -->
			<div id="loginModal" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<form th:action="@{/login}" method="post">
							<div class="modal-header">
								<h5 class="modal-title">Login</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<input type="hidden" name="id">
								<div class="mb-3">
									<label for="username" class="form-label">Username</label>
									<input type="text" class="form-control" id="username" name="username"
										autofocus="autofocus" required />
								</div>
								<div class="mb-3">
									<label for="quantity" class="form-label">Password</label>
									<input class="form-control" type="password" id="password" name="password"
										required />
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-primary">Login</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</nav>
	</div>


	<div class="container mt-5">

		<h1>Listado de recetas</h1>

		<a href="" class="btn btn-outline-success" type="submit" th:if="${isAdmin}">Add Receipt</a>

		<div class="container-fluid">
			<form class="d-flex" method="get" th:action="@{/home}">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
					name="searchInput" th:value="${searchInput}">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>

		<div th:if="${receipts.empty}">
			<p colspan="2"> No Receipts Available </p>
		</div>
		<ul class="list-group">
			<li class="list-group-item" th:each="receipt: ${receipts}">
				<div class="row mt-4">
					<div class="col-md-4">
						<img th:src="${receipt.images[0].url}" class="card-img-top img-fluid" alt="Imagen de la receta">
					</div>
					<div class="col-md-8 d-flex align-items-center">
						<div class="card-body">
							<h5 class="card-title" th:text="${receipt.name}"></h5>
							<p><a th:href="@{/chef(id=${receipt.chef.username})}" class="card-text"
									th:text="| ${receipt.chef.name} ${receipt.chef.lastName} |"></a></p>
							<a class="btn btn-primary" th:href="@{/receipt(id=${receipt.id})}">Ver receta</a>
						</div>
					</div>
				</div>
			</li>
	</div>
	</div>
</body>

</html>