<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title th:text="${appName}"></title>
  <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
  <script th:src="@{/jquery-3.7.1.min.js}"></script>
  <script th:src="@{/bootstrap.min.js}"></script>

</head>

<body>
  <div th:insert="/header"> </div>
  <div class="row">
    <div class="col-6 mx-auto">

      <h1>Login page</h1>
      <p th:if="${loginError}" class="error">Wrong user or password</p>
      <form th:action="@{/login}" method="post">
        <label for="username">Username</label>:
        <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
        <label for="password">Password</label>:
        <input type="password" id="password" name="password" /> <br />
        <input type="submit" value="Log in" />
      </form>
    </div>
  </div>
</body>

</html>