<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${appName}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <style>
        .recipe-name {
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            border: 1px solid;
            border-radius: 5px;
            background-color: #cccccc;
            color: #ffffff;


        }

        .ingredients-name {
            margin: 20px auto;
            padding: 15px;
            max-width: 800px;
            float: right;
            width: 40%;
            margin: 0 400px 400px 0;

        }

        .recipe-description {
            margin: 20px auto;
            padding: 15px;
            max-width: 800px;
            float: right;
            width: 40%;
            margin: 0 400px 400px 0;
        }

        .recipe-description-label {
            display: inline-block;
            width: 40%;
            vertical-align: top;
            margin-right: 200px;
        }

        .ingredients-label {
            display: inline-block;
            width: 40%;
            vertical-align: top;
            margin-right: 200px;
        }

        img {
            border-radius: 10px;
        }
    </style>

</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" th:text="${appName}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${tab}=='home' ? 'active': ''" aria-current="page"
                                href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:classappend="${tab}=='chef' ? 'active': ''" href="/chefs">Chefs</a>
                        </li>
                        <li class="nav-item" sec:authorize="!isAuthenticated()"
                            th:classappend="${tab}=='login' ? 'active': ''">
                            <button type="button" data-bs-toggle="modal" class="nav-link"
                                data-bs-target="#loginModal">Login</button>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <form th:action="@{/logout}" method="post">
                                <button class="nav-link" type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Modal para Login -->
            <div id="loginModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form th:action="@{/login}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title">Login</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="id">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                        autofocus="autofocus" required />
                                </div>
                                <div class="mb-3">
                                    <label for="quantity" class="form-label">Password</label>
                                    <input class="form-control" type="password" id="password" name="password"
                                        required />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 th:text="${receipt.name}"></h1>
                <p class="lead" th:text="${receipt.description}"></p>
            </div>
        </div>

        <div class="row mt-4">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-inner" th:each="image: ${receipt.images}">
                    <div class="carousel-item"
                        th:classappend="${receipt.images[0].url==image.url} ? 'carousel-item active': ''">
                        <img th:src=" ${image.url}" class="d-block w-100" />
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#recipeCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#recipeCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


        <div class="row mt-4" th:if="${isAdmin}">
            <form th:action="@{/remove-receipt}" method="post">
                <input type="hidden" class="form-control" id="id" name="id" th:value="${receipt.id}" required>
                <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" type="submit">
                    Remove receipt
                </button>
            </form>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <h2>Ingredientes</h2>
                <ul class="list-group" th:each="ingredient: ${receipt.ingredients}">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span th:text="|${ingredient.name} ${ingredient.quantity}|">Ingredient Name 100g</span>
                        <button th:if="${user?.username == receipt.chef.username or isAdmin}" type="button"
                            class="btn btn-secondary btn-sm" data-bs-toggle="modal"
                            th:data-bs-target="'#editIngredientModal' + ${ingredient.id}">
                            Edit
                        </button>
                    </li>
                </ul>

                <!-- Modal para editar ingredientes -->
                <div th:each="ingredient: ${receipt.ingredients}" th:id="'editIngredientModal' + ${ingredient.id}"
                    class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form th:action="@{/edit-ingredient}" method="post">
                                <div class="modal-header">
                                    <h5 class="modal-title">Editar Ingrediente</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" name="id" th:value="${ingredient.id}">
                                    <div class="mb-3">
                                        <label for="quantity" class="form-label">Nombre del Ingrediente</label>
                                        <input type="text" class="form-control" id="name" name="name"
                                            th:value="${ingredient.name}" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="quantity" class="form-label">Cantidad</label>
                                        <input type="text" class="form-control" id="quantity" name="quantity"
                                            th:value="${ingredient.quantity}" required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <button th:if="${user?.username == receipt.chef.username or isAdmin}" type="button"
                    class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addIngredient">Add
                    Ingredient</button>

                <!-- Modal para añadir ingredientes -->
                <div id="addIngredient" class="modal fade" tabindex="-1" role="dialog"
                    th:if="${user?.username == receipt.chef.username or isAdmin}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form th:action="@{/add-ingredient}" method="post">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add Ingredient</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" class="form-control" id="receiptId" name="receiptId"
                                        th:value="${receipt.id}" required>
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="quantity" class="form-label">Quantity</label>
                                        <input type="text" class="form-control" id="quantity" name="quantity" required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Add Ingredient</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
                <img th:src="${receipt.chef.image}" class="img-fluid rounded-circle" alt="Imagen del Cocinero">
            </div>
            <div class="col-md-8 d-flex align-items-center">
                <div>
                    <h3>Cocinero</h3>
                    <p th:text="'Name: ' + ${receipt.chef.name}"></p>
                    <p th:text="'Lastname: ' + ${receipt.chef.lastName}"></p>
                    <p th:text="'Birhtdate: ' + ${receipt.chef.birthDate}"></p>
                    <a class="btn btn-primary" th:href="@{/chef(id=${receipt.chef.username})}">Ver Chef</a>
                </div>
            </div>
        </div>
    </div>

</body>