<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="${appName}"></title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/bootstrap.min.js}"></script>

</head>

<body>
    <div th:insert="/header"> </div>
    <div class="row">
        <div class="col-6 mx-auto">

            <div sec:authorize="isAuthenticated()">
                This content is only shown to authenticated users.
            </div>
            <div sec:authorize="hasRole('ADMIN')">
                This content is only shown to administrators.
            </div>
            <div sec:authorize="hasRole('CHEF')">
                This content is only shown to CHEF.
            </div>

            <h1>Search </h1>

            <div class="container-fluid">
                <form class="d-flex" method="get" th:action="@{/search}">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchInput" th:value="${searchInput}">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

            <div class="list-group">

                <div th:if="${receipts.empty}">
                    <p colspan="2"> No Receipts Found </p>
                </div>
                <div th:each="receipt: ${receipts}">

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                        <div class="col mb-3">
                            <div class="card">
                                <img th:src="${receipt.images[0].url}" class="card-img-top img-fluid"
                                    alt="Imagen de la receta">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${receipt.name}">Nombre de la receta</h5>
                                    <p class="card-text" th:text="${receipt.chef.name}"></p>
                                    <a class="btn btn-primary" th:href="@{/receipt(id=${receipt.id})}">Ver receta</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>